$light: #35b6fa11;
$light-gray: #f7f7f7;
$shadow: 0px 0px 7px 1px rgb(204, 204, 204);
$light-shadow: 0px 0px 7px 1px rgb(238, 238, 238);
$theme-color: #00badb;
// $theme-color: #25adff;
$theme-second: #44b7ff;
$gray: rgb(251, 251, 251);
$search: #f0f4f7;
$bg-color: hsl(231, 100%, 99%);
$light-blue: #ebf5ff;
$gray-text: rgb(199, 199, 199);
$red: rgb(255, 53, 53);
$green: rgb(25, 221, 25);
$green-light: #3ab649;
$quick: #2c4154;
$icon-shadow: drop-shadow(0px 10px 5px #9e65c9b6);
$overlay: rgba(0, 0, 0, 0.9);
$gray-shadow: 0px 0px 7px 1px rgb(49 49 49);
$black: #000;
$white: #ffffff;
$promotion-color: #f9f9f9;
$border-radius: 5px;
$shop-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
//devices size breakpoint
$xl-laptop-width: 1650px;
$laptop-width: 1024px;
$md-tablet-width: 900px;
$tablet-width: 780px;
$mobile-width: 650px;
$sm-mobile-width: 450px;
$xs-mobile-width: 375px;
$xxs-mobile-width: 320px;

$header-height: 90px;
$mb-header-height: 80px;
$box-shadow: 0 0 12px 6px rgb(0 0 0 / 5%), 0 3px 6px rgb(0 0 0 / 15%);
//font-size
$base-size: 16px;
$imageShadow: 0 1px 2px 0 rgb(32 32 32 / 16%);

$login: drop-shadow(1px 1px 5px #00eeffb6);
